.login__section {
  /* background: linear-gradient(45deg, #141e30, #243b55); */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHZVKueiv7GP4GFeAS09pclFtlM_RYxNAphMqQQv6Rb_5YB9GBMHEYXo9a6NsmQGE0Qj0&usqp=CAU");
  height: 100vh;
  background-size: cover;
  /* opacity: 0.6; */
}

.login__container {
  height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* 60deg, #cc2b5e 0%, #ee9ca7 25%, #ffdde1 75%, #753a88 100% */

.form {
  width: 75%;
  height: 75%;
  margin: auto;
  background-color: rgba(60, 60, 60, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  padding: 75px 75px;
  border-radius: 10px;
  font-size: 1rem;
}

.form h3 {
  margin-bottom: 10px;
}

.form__label {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.form__group {
  margin-bottom: 20px;
  /* display: flex;
    flex-direction: row; */
}

.form__group textarea {
  width: 100%;
  background: #fff;
  padding: 7px 20px;
}

.form__group Input:focus {
  outline: 0;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add__btn {
  border: none;
  margin-top: 20px;
  padding: 7px 25px;
  background: #df2020;
  color: #fff;
  border-radius: 15px;
  font-size: 1.1rem;
  width: 40%;
}

.register__btn {
  border: none;
  margin-top: 20px;
  padding: 7px 25px;
  background: #df2020;
  color: #fff;
  border-radius: 15px;
  font-size: 1.1rem;
  width: 100%;
}

.Input {
  border: 1px solid #000;
  border-radius: 7px;
}
